// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$FB_BLUE: #4267b2;

#greeting-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: #e9ebee;
}

#logged-out-header {
    background-image: linear-gradient(to top, lighten($FB_BLUE, 5%), darken($FB_BLUE, 5%));
    display: flex;
    justify-content: center;
    height: 8%;
    max-height: 67px;
    min-height: 67px;
}

#login-form-container {
    width: 50%;
    display: flex;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;
        color: white;
        // font-family: 'Gugi', 'cursive';
        font-size: 36px;
        font-weight: bold;
    }

    form {
        display: flex;
        align-items: center;

        .email-login-container {
            display: flex;
            flex-direction: column;
            padding: 0px 5px;

            label {
            //    justify-content: flex-start;
                color: white;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 10px;
                padding-bottom: 5px;
           }
        }

        .password-login-container {
           display: flex;
           flex-direction: column;
           padding: 0px 5px;

           label {
            //    justify-content: flex-start;
                color: white;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 10px;
                padding-bottom: 5px;
           }
        }
    }

    .login-button-container {
        display: flex;
        align-content: center;

        #login-button {
            // font-weight: bold;
            // min-height: 24px;
            // color: #fff;
            // background: #4267b2;
            // border: 1px solid #29487d;
            // border-radius: 2px;
            // padding: 0 6px;
            // text-align: center;
            margin-top: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
            background-color: lighten($FB_BLUE, 10%);
            font-weight: 600;
            font-family: 'Maven Pro', sans-serif;
            font-size: 10px;
            color: white;
            border: 1px solid darken($FB_BLUE, 10%);
        }
    }
}

#greeting-main {
    // background-color: #E9EBEE;
    // height: 65%;
    display: flex;
    justify-content: center;
    max-height: 550px;
    min-height: 550px;

    // display: grid;
    // grid-template-columns: 1fr 580px 400px 1fr;
    // margin: 0;
    // padding: 20px 0;
    // background: #e9ebee;
}

#greeting-main-container {
    display: grid;
    grid-template-columns: 1fr 580px 400px 1fr;
    margin: 0;
    padding: 20px 0;

    min-width: 980px;
    
    display: flex;
    width: 50%;

    #self-adverts {
        // width: 50%;
        // display: flex;
        // align-items: center;
            grid-column: 2;
    max-width: 580px;
    margin: 0;
    padding-right: 48px;
        

        img {
            height: 64px;
        }
    }
}

#signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    // padding-left: 20px;
    margin-left: 20px;

    .signup-greetings {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1, h5{
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            color: #333;
        }
    
        h5 {
            font-size: 19px;
        }
    }

    div {
        padding: 8px 10px;
    }

    input {
        border: 1px solid #bdc7d8;
        border-radius: 5px;
        padding: 8px 10px;
    }

    #name-input-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // padding-bottom: 8px;
        input {
            width: 45%;
        }
    }

    #email-input-container {
        input {
            width: 100%;
        }
    }

    #password-input-container {
        input {
            width: 100%;
        }
    }

    #dob-input-container {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;

        label {
            color: #90949c;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 10px;
            padding-left: 8px;
        }

        input {
            width: 50%;
        }

    }

    #dob-selectors {
        display: flex;
        // justify-content: space-between;
        select {
            background-color: #fff;
            color: #1c1e21;
            border: 1px solid #ccd0d5;
            font-size: 13px;
            height: 30px;
            padding: 5px;
        }
    }

    #gender-input-container {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 40%;
        padding-top: 5px;
        // padding-left: 8px;

        label {
            color: #1d2129;
            font-size: 18px;
            font-weight: normal;
            line-height: 18px;
            // padding: 0 10px 0 3px;
        }

        #gender-input-label {
            color: #90949c;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 10px;
        }

        #gender-selector {
            padding: 8px 0px;
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                padding: 0px;

                label {
                    padding-left: 10px;
                }
            }
        }
    }

    // #email-input-container {
    //     input {
    //         width: inherit;
    //     }
    // }

    p {
        color: #777;
        font-size: 11px;
        width: 316px;
        margin: 20px 0px;
    }

    #action-buttons {
        padding: 0px;
    }

    #demo-login-button {
        font-size: 19px;
        color: #fff;
        width: 194px;
        height: 39px;
        margin-left: 11px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        border: 1px solid #ccd0d5;
        background: linear-gradient(#ae9655, #887243);
        box-shadow: inset 0 1px 1px #e3d588;
        border-color: #6e6022 #6e5622 #513e15;
        border-radius: 5px;
    }

    #signup-button {
        font-size: 19px;
        color: #fff;
        width: 194px;
        height: 39px;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        background: linear-gradient(#67ae55, #578843);
        box-shadow: inset 0 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
    }
}

#adverts-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-content: space-around;
    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            padding-left: 20px;
        }
    }
}

#footer-main-container {
    height: 30%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    max-height: 250px;
    min-height: 250px;

    #footer-main {
        width: 50%;
    }

    #footer-elements {
        height: 70%;
    }
    .footer-main-languages, .footer-main-nav, .footer-main-copyright {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        font-size: 12px;
        line-height: 1.6;
        margin: 0;
        padding: 8px 0;
        color: #737373;

        li > a {
            color: #385898;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .footer-main-languages {
        padding-top: 20px;
        border-bottom: 1px solid #dddfe2;
    }

    .footer-main-languages li, .footer-main-nav li {
        padding-right: 20px;
    }

    .footer-main-copyright {
        font-size: 11px;
        color: "#737373";
        font-family: Arial, Helvetica, sans-serif;
    }
}