$FB_BLUE: #4267b2;

// #logged-out-header {
//     background-color: $FB_BLUE;
// }

body {
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Lato', sans-serif;
    overflow: scroll;
    font-family: Helvetica, Arial, sans-serif;
    b {
        font-weight: bold;
    }
}