$FB_BLUE: #4267b2;

// #logged-out-header {
//     background-color: $FB_BLUE;
// }

body {
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Lato', sans-serif;
    overflow: scroll;
    font-family: Helvetica, Arial, sans-serif;
    b {
        font-weight: bold;
    }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 41.5%;
  left: 63%;
  transform: translate(-50%, -50%);
}